/- flash.each do |msg_type, message|
  .alert class="#{bootstrap_class_for(msg_type)}"
    .container
      button.close[data-dismiss="alert"]
        span ×
      = message


- if notice
  javascript:
    notie.alert({
      type: 1, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
      text: "#{notice}",
      stay: false, // optional, default = false
      time: 6, // optional, default = 3, minimum = 1,
      position: 'bottom' // optional, default = 'top', enum: ['top', 'bottom']
    });
- if alert
  javascript:
    notie.alert({
      type: 3, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
      text: "#{alert}",
      stay: false, // optional, default = false
      time: 6, // optional, default = 3, minimum = 1,
      position: 'bottom' // optional, default = 'top', enum: ['top', 'bottom']
    });

/- if notice
  javascript:
    $.notify({
      title: "Success:",
      icon: 'fas fa-bell',
      showProgressbar: true,
      animate: {
        enter: 'animated fadeInDown',
        exit: 'animated fadeOutUp'
      },
      message: "#{notice}"
    },{
        // settings
        element: 'body',
        type: "success",
        allow_dismiss: true,
        delay: 20000,
        placement: {
          from: "top",
          align: "right"
        },
      }
    );
/- if alert
  javascript:
    $.notify({
      title: "Failed:",
      icon: 'fas fa-bell',
      showProgressbar: true,
      animate: {
        enter: 'animated fadeInDown',
        exit: 'animated fadeOutUp'
      },
      message: "#{alert}"
    },{
        // settings
        element: 'body',
        type: "danger",
        delay: 20000,
        allow_dismiss: true,
        placement: {
          from: "top",
          align: "right"
        },
      }
    );